{% extends "templates/layout.html" %}

{% block content %}
<div class="row">
	<div class="col-12 col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">Sign In</div>
			<div class="panel-body">
				<form method="POST" ng-class="{ 'has-error' : signform.$invalid && !signform.$pristine }" class="sign_form"  name="signform" action="{{ path_for('auth.login')}} " novalidate>
					<div class="form-group" >
						<label for="">Username</label>
						<input class="form-control" type="text"  name="username" ng-model="sign.username" id="username" placeholder="Enter Your Username" ng-required="true">
						
						<p ng-show ="signform.username.$invalid && !signform.username.$pristine" class="help-block ">Please enter Your Username</p>
					
					</div>
					<div class="form-group">
						<label for="">Password</label>
						<input class="form-control" type="password" name="password" ng-model="sign.password" id="password" ng-required="true">
						<p ng-show ="signform.password.$touched && !signform.password.$pristine" class="help-block">
							Please Enter Your Password
						</p>
					</div>
					<button type="submit" ng-disabled="signform.$invalid" class="btn btn-default">Sign In</button>
					{{ csrf.field | raw }}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}