{% extends 'templates/layout.html' %}

{% block content %}
<h2>Welcome, Register First</h2>

<div class="row">
	<div class="col-12 col-md-8">
		<form method="POST" ng-class="{ 'has-error' : signupform.$invalid && !signupform.$pristine }" class="signup_form"  name="signupform" action="{{ path_for('auth.signup')}} "  novalidate>
		  <div  class="form-group">
			
		    <label for="username">Username</label>
		   	 <user-scope username="[[signup.username]]" style="display:block;"> [[signup.username]] </user-scope>
			<input class="form-control" type="text" name="username" ng-minlength="6" ng-model="signup.username" id="username" placeholder="Enter Your Username" ng-required="true">
		
			
				
			<p ng-show ="signupform.username.$invalid && !signform.username.$pristine" class="help-block ">Please enter Your Username</p>

			<p class="help-block" ng-show = "signupform.username.$error.minlength">Username must be at least 6 characters</p>

		  </div>
		  <div class="form-group">
		    <label for="Password">Password</label>
		    <input type="password" ng-model="signup.password" ng-minlength="6" ng-required="true" name="password" class="form-control" placeholder="Enter Password">

		    <p ng-show ="signupform.password.$invalid && !signupform.password.$pristine" class="help-block">
			Please enter a Password
		    </p>

		    <p ng-show ="signupform.password.$error.minlength" class="help-block">
		    Password must be at least 6 characters
		    </p>

		  </div>
		  <button ng-disabled="signupform.$invalid" type="submit" class="btn btn-primary">Submit</button>
		</form>


	</div>
</div>

{% endblock %}