{% extends "templates/layout.html" %}

{% block content %}
{% if auth.check %}
                       
<h2>Welcome, {{auth.user.username}} !</h2>

<div class="row">
	<div class="col-12 col-md-8">
		<div class="form-group">
			
			<form method="POST" action="/todo" name="taskform" class="myform" novalidate>
				<label for="AddTask">Add Task</label></br>
				<div class="form-group" ng-class="{ 'has-error' : taskform.$invalid && !taskform.$pristine }">
					<input type="text" ng-model="taskdata.task" name="task" ng-required="true">
					<p ng-show="taskform.task.$invalid && !taskform.task.$pristine" class="help-block">Please enter a task</p>
				</div>
				<button type="submit" class="btn btn-primary" ng-disabled="taskform.$invalid">Submit</button>
			</form>
		</div>
	</div>
</div>
      {% endif %}

{% endblock %}