{% extends "templates/layout.html" %}
{% block content %}
	
	<h2>Home</h2>
	<div class="row">
		<div class="col-12 col-md-8">
			<!-- 		<div ng-controller="myCtrl" class="form-group">
				
					<label for="AddTask">Add Task</label></br>
					<input style="display:block; margin:10px 0px;" type="text" ng-model="taskdata.task" name="task">
					
					<button ng-click="addTask(taskdata)" type="submit" class="btn btn-primary">Submit</button>
			</div> -->
		</div>
	{% endblock %}