{% extends "templates/layout.html" %}

{% block content %}
<h1>My Todos</h1>

<ol>
  {% for task in todos %}
  		<div class="myl">
        <li><h4>{{ task.task}}</h4></li>
        <small style="font-style:italic">{{task.created_at |date("m/d/Y")}}</small></br>


	       <form class="form-group" action="/todo/{{task.id}}" method="post">
			    ... other form fields here...
			    <input type="hidden" name="_METHOD" value="DELETE"/>
			    <button type="submit" class="btn btn-primary">Delete</button>
		</form>
		</div>
    {% endfor %}

</ol>
{% endblock %}