{% extends "templates/layout.html" %}

{% block content %}
<h1>My Todos</h1>

<ol>
  {% for task in todos %}
  		<div id="gone" class="myl" ng-controller="myCtrl" ng-hide="hideRow[$index]">
        <li><h4>{{ task.task}}</h4></li>
        <small style="font-style:italic">{{task.created_at |date("m/d/Y")}}</small></br>


	   
	<button id="disappear" class="btn btn-sm btn-danger" ng-click="deleteTask({{task.id}})">Delete</button>



		</div>
    {% endfor %}

</ol>
{% endblock %}